

.new-project-header
  %h1.center Project Setup Application

  .wizard-steps
    .wizard-bar
      .fill.step1

    %ul
      %li
        About You
        %span.circle
      %li
        The Project & Students
        %span.small-circle
      %li
        Location & Region
        %span.small-circle
      %li
        Multimedia & Content
        %span.small-circle
      %li
        Agreement
        %span.small-circle
      %li
        Confirmation
        %span.small-circle

  =# wizard_steps_header active_step