.nested-fields
  .student-requirements-illustration.center
    %span.small= t(:choose_a_session_period)
    = f.association :session, include_blank: true, label: false, label_method: :select_label, input_html: { class: "session_chooser"}
  .student-requirements-fields
    %span.small= t(:student_application_deadline)
    %span.field_for_deadline
    = link_to_remove_association "remove", f, class: "button button-orange"
