%nav.main
  - menu_pages.each do |page|
    %span.link.heading= link_to page.menu_title, page.slug

  %span

  = form_tag '/search', :method => :get do
    = search_field_tag :search, @search, :autocomplete => false, :value => "&#128269; Search + Enter".html_safe
  = yield :navigation