%ul
  %li= search_field_tag :search, @search, :autocomplete => false, :value => "&#128269; Search + Enter".html_safe
  %li=link_to "<span class='entypo-submit'></span> submit a project".html_safe, main_app.projects_setup_index_path
  %li=link_to "<span class='entypo-apply'></span> apply".html_safe, main_app.students_setup_index_path
  - if current_login
    %li=link_to "<span class='entypo-logout'></span> log out".html_safe, main_app.destroy_login_session_path
  - else
    %li=link_to "<span class='entypo-login'></span> log in".html_safe, main_app.new_login_session_path