- content_for :header do
  %h1.title-search
    %input{type: 'text', placeholder: "Engineering, Medicine, Marketing, etc..."}
    %div near
    %input{type: 'text', placeholder: "City, Province or Postal Code"}


.box.box-blue
  .motto.container
    %h2.centered Immersive, missional apprenticeships
    %p.centered
      Choose an Immersive, intensive, learning, serving experience that revolves around <br />
      your dreams and passions to engage with God's world.


.box.container
  %h3.orange Go ahead, pick one!
  %ul.tab-list
    %li.tab.active Fields of Study
    %li.tab Passion Area
  .tab-box

.box.box-grey
  .container.we-are-unique
    %h1 Why we are <span class='unique'>unique</unique>.

    %p.col1
      Our main goal is to help <span class='unique italic'>you</span> cultivate your sense of calling.
      Because an internship should be a life-giving time of discovery and purpose.
      Of course you'll help people during your internship, but ultimately we'd love it
      if you finished with a new sense of purpose.

    .col2
      <iframe width="100%" height="360" src="//www.youtube.com/embed/IpdoRUMeshw" frameborder="0" allowfullscreen></iframe>