- content_for :header do
  %h1.center.subtitle Global customized internships in your field of study
  .title-search
    .c5
      %label Search your Field of Study:
      %input{type: 'text', placeholder: "Engineering, Medicine, Marketing, etc..."}

    .c4
      %label And where you want to go:
      %input{type: 'text', placeholder: "City, Province or Postal Code"}

    .c2.omega
      = button "Go", :green


.motto.box.box-light-yellow
  .container
    = image_tag 'lightbulbs.png', id: "lightbulbs"
    %h2.centered Customized, Missional Internships
    %p.centered
      70% of Christ’s followers live in the Global South.
      70% of Christ’s followers live in the Global South.
      70% of Christ’s followers live in the Global South.


.box.container
  %ul.tab-list
    %li.tab.active Fields of Study
    %li.tab Passion Areas
  .tab-box

.box.box-green
  .container
    %h2.center.medium
      Don’t see your field? <br />
      Search all of our projects. Boom, its that easy.

    = button "Search Our Projects", :orange, id: "search-projects"