.container
  .new-project-header
    %h1.center= t(:welcome, complete_name: @student.full_name)

  #option_buttons
    = render partial: "dashboards/student/button_group"

  .body
    #show_subpage
      = render "dashboards/student/#{params[:view]}"