.fieldset
  %h5= t(:application_status, status: student_application.status)
  %h5= t(:project_and_session, project: student_application.project.name, start: student_application.start_date.to_formatted_s(:long_ordinal), end: student_application.end_date.to_formatted_s(:long_ordinal))
  %h5= t(:student_profile, status: @login.published_status_to_string)
  -if cannot? :view_profile_page, @login
    =link_to "Reserve My Spot", reserve_my_spot_path(reserve_my_spot: student_application.id) , class: "button button-blue"