.container
  .new-project-header
    %h1.center= t(:welcome, complete_name: @login.full_name)

  #option_buttons
    = render partial: "button_group"

  .body
    #show_subsection
      = render "#{params[:view]}"