// ---------------------------------------------------------------------------
// Imports

@import "susy";

// ---------------------------------------------------------------------------
// Basic Grid
$total-columns  : 12;
$baseline       : 11px;
$column-width   : 5em;
$gutter-width   : 1em;
$grid-padding   : $gutter-width;
$show-grid-backgrounds  : true;