// ---------------------------------------------------------------------------
// Imports

@import "susy";

// ---------------------------------------------------------------------------
// Basic Grid

$total-columns  : 12;
$column-width   : 5em;
$gutter-width   : 1em;
$grid-padding   : $gutter-width;
$show-grid-backgrounds  : true;

// ---------------------------------------------------------------------------
// Typography

$base-font-size     : 16px;
$base-line-height   : 24px;
$round-to-nearest-half-line: true;
@include establish-baseline;

// TODO: No longer used
$baseline           : 11px;
//

$header-font-family : "Comfortaa", "Open Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
$body-font-family   : "Open Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;


$header-color : black;
$color        : #565555;
$focus-color  : #3fb6f2;

// ---------------------------------------------------------------------------
// Buttons and Colors

$orange : #ff9855;
$blue   : #80c8d4;
$light-blue: #f0fafc;
$green  : #a2d49a;
$grey   : #999;
$shaded-grey: #ebedef;
$light-yellow: #fefff5;
$dark-grey: #7c7b7b;
$extra-light-grey: #f5f5f5;
$light-grey: #c1c1c1;


$btn-colors: default   $grey,
             green     $green,
             blue      $blue,
             orange    $orange;


$box-colors: grey          #565656,
             blue          $blue,
             green       $green,
             light-yellow  $light-yellow;





// Color styles
.bkg-green { background-color: $green; }
.bkg-white { background-color: white; }
.bkg-yellow { background-color: $light-yellow; }
.bkg-blue { background-color: $blue; }

.light-text {
  color: white;
  input[type=text],
  input[type=email],
  input[type=url],
  input[type=search],
  input[type=tel],
  input[type=number] textarea {
    color: white;
  }
}
.dark-text { color: $dark-grey;}


[class*="entypo-"]:before {
font-family: 'Entypo', sans-serif;
font-size: 2em;
margin-right: .2em;

}

[class*="entypo-social"]:before {
font-family: 'Entypo Social', sans-serif;
font-size: 2em;
margin-right: .2em;

}


.entypo-login:before {
  content: "\1f464";
}

.entypo-logout:before {
  content: "\E741";
}

.entypo-apply:before {
  content: "\2713";
}

.entypo-submit:before {
  content: "\1f4E4";
}

.entypo-back:before {
  content: "\21B0";
}


.entypo-social-facebook:before {
  content: "\f30E";
}

.entypo-social-twitter:before {
  content: "\f309";
}

.entypo-social-google:before {
  content: "\f30F";
}



