// ---------------------------------------------------------------------------
// Imports

@import "susy";

// ---------------------------------------------------------------------------
// Basic Grid

$total-columns  : 12;
$column-width   : 5em;
$gutter-width   : 1em;
$grid-padding   : $gutter-width;
$show-grid-backgrounds  : true;

// ---------------------------------------------------------------------------
// Typography

$base-font-size     : 16px;
$base-line-height   : 24px;
$round-to-nearest-half-line: true;
@include establish-baseline;

$baseline           : 11px;
$header-font-family : "Comfortaa", "Open Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
$body-font-family   : "Open Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;

$header-color : black;
$color        : #565555;
$focus-color  : #3fb6f2;

// ---------------------------------------------------------------------------
// Buttons

$btn-colors: default   #999,
             green     #accf8a,
             blue      #80c8d4,
             orange    #ff9855;


$box-colors: grey      #565656,
             blue      #80c8d4;

$light-grey: #c1c1c1;