a { color: $orange; }

// ============
// Button Styles
// ============

a.button { text-decoration: none; }
.button, input[type=submit].button {
  @extend .button-default;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  margin: 0;
  padding: 0.5em 1.25em;
  line-height: 1;
  vertical-align: top;

  color: white;
  text-shadow: 1px 2px 1px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 5px;
  border-bottom: 3px solid;

  font-weight: 600;
  font-size: 1em;
  outline: none;
  &.active { font-weight: 400; }
}

.button.large { @include adjust-font-size-to(20px, 1); }
.button.x-large { @include adjust-font-size-to(25px); }

.button.x-large .sprite.arrow_right {
  margin-left: 15px;
  margin-right: -8px;
  margin-bottom: -3px;
}

.button .sprite.search {
  margin-left: -15px;
  margin-right: 15px;
  margin-bottom: -7px;
}

.button.x-large .sprite.thumbs_up {
  margin-left: -15px;
  margin-right: 15px;
  margin-bottom: -5px;
}

@each $pair in $btn-colors {
  $btn-color: nth($pair, 2);

  .button-#{nth($pair, 1)}, input[type=submit].button-#{nth($pair, 1)} {
    color: white;
    background: $btn-color;
    border-color: desaturate( darken($btn-color, 20), 10);
    -webkit-transition:all .04s ease-in;

    &:hover {
      color: white;
      background: lighten($btn-color, 8%);
      -webkit-transition:all .1s ease-in;
    }

    &:active {
      box-shadow: inset 1px 1px 8px rgba(0, 0, 0, .3);
    }

    &:active, &.active {
      color: white;
      background: $btn-color;
    }

  }
}

.invalid .select2-container .select2-choice {
  border: 2px solid $orange;
}


.sprite {
  display: inline-block;
  font-size: 0;
}


// ==========
// Box Styles
// ==========

.box {
  @include padding-leader(2);
  @include padding-trailer(2);
}
@each $pair in $box-colors {
  .box-#{nth($pair, 1)} {
    $box-color: nth($pair, 2);
    background: $box-color;
  }
}

.box-blue, .box-grey {
  -webkit-font-smoothing: antialiased;
  color: white;
  h1, h2, h3, h4, p { color: white; }
  p { font-weight: 600; }
}


.box-blue {
  h1, h2, h3, h4, p { font-weight: 600; }
}

.box-light-yellow {
  > h1, h2 {
    color: $orange;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
  }
}

.box-green {
  > h1, h2 {
    color: white;
    -webkit-font-smoothing: antialiased;
  }
  p {
    color: rgba(0, 0, 0, .8);
  }
}

// ============
// Input Styles
// ============

input[type=text], input[type=email], input[type=url],
input[type=search], input[type=tel], input[type=number],
input[type=password], textarea {
  font-size: 1em;
  line-height: 2em;
  display: inline-block;
  vertical-align: top;
  color: lighten($color, 15%);
  background: white;
  border-style: solid;
  margin: 0;
  padding: 0 10px; // TODO: PX instead of EM? Not sure.
  border: 2px solid #d9d9d9;
  border-radius: 2px;

  &:hover { border-color: #ccc; }
  &:focus {
    color: $color;
    background: white;
    border-color: $focus-color;
    outline: none;
  }
}

.box-grey input {
  background: #a1a0a0; // TODO: Use variable
  color: white;
  border: none;

  &::-webkit-input-placeholder { color: white; }
  &:-moz-placeholder { color: white; }
  &::-moz-placeholder { color: white; }
  &:-ms-input-placeholder { color: white; }
}

.invalid {
  input[type=text], input[type=email], input[type=url],
  input[type=search], input[type=tel], input[type=password], textarea {
    border-color: $orange;
    color: darken($orange, 10%);
    background: white url(error-x.png) no-repeat right;

    padding-right: 20px;
  }
}


input[type=submit] {
  border: none;
  display: inline-block;
  @include adjust-font-size-to(14px);
}

// =======
// Tab Box
// =======

.tab {
  @include adjust-font-size-to(20px, 3);
  @include leading-border(3px, 3, 20px);

  display: inline-block;
  padding: 0 1em;
  font-family: $header-font-family;

  background-color: #f4f4f4; // TODO: Extract color to variable.
  border-color: #d6d6d6; // TODO: Extract color to variable.

  &.active {
    background-color: white;
    border-color: #80c8d4; // TODO: Extract to variable.
  }

}

li.tab {
    cursor: pointer;
}


// TODO: Offsets vertical rhythm by 2px because of border.
.tab-list.small .tab {
  @include adjust-font-size-to(16px);
  @include adjust-leading-to(1.5, 16px);
  border-width: 2px;
}

.tab-box {
  background-color: white;
  width: 100%;
  // TODO: Remove faux style.
  min-height: 300px;

  &.w-padding { padding: 1em; }
}


/**
 * This height definition of font size is required in order for flat-ui dropdowns to work.
 * Eventually, once flat-ui dependency is removed, this should be axed.
 */

// ============
// Button Group
// ============

.button {
  cursor: pointer;
}

.button-group {
  height: 36px;
  margin-top: 24px;
  margin-bottom: 24px;
  white-space: nowrap;
  font-size: 0;

  > .button {
    font-size: 16px;
    border-radius: 0;
    &.active { font-weight: bold; }
    &:first-child {
      border-top-left-radius: 2px;
      border-bottom-left-radius: 2px;
    }

    &:last-child {
      border-top-right-radius: 2px;
      border-bottom-right-radius: 2px;
    }
  }

  .select2-container { display: none; }
  span.error { display: block; }
  .button { outline: none; }
}
.button_group { @extend .button-group; }



.ui-datepicker {
  font-size: 14px;
}

.table-head, .table-body {
  @include adjust-font-size-to(16px);
}


// =========
// Combo Box
// =========

.select2-container, .select2-dropdown-open.select2-drop-above {
  .select2-choice {
    // Select 2 doesn't seem to be sufficiently responsive.
    // Will have to manage manually?
    @include adjust-font-size-to(16px, 1.5);
    line-height: 3.8em;
    height: 55px;
    font-family: $header-font-family;
    -webkit-font-smoothing: antialiased;
    font-weight: 600;
    background: $blue;
    color: white;

    box-shadow: none;
    border: none;
    &:focus { outline: none; }
  }
  .select2-chosen {
    padding: 0 0.5em;
  }

  .select2-choice .select2-arrow {
    background: transparent;
    border: none;
    padding-right: 5px;
    b { background: url(combo-arrow-down.png) no-repeat 50%; }
  }
}

.select2-dropdown-open .select2-choice .select2-arrow b {
  background: url(combo-arrow-up.png) no-repeat 50%;
}

.select2-drop {
  box-shadow: none;
}

.select2-drop-active {
  border: none;
}

.select2-search input {
  background: white url(/assets/select2.png) no-repeat 100% -22px !important;
  @include leader(0.5);
  @include trailer(0.5);
}

.select2-no-results {
  @include adjust-font-size-to(13px, 1, 16px);
}

.select2-results {
  @include adjust-font-size-to(16px);
  color: #333;
  font-family: $header-font-family;
  -webkit-font-smoothing: antialiased;
  font-weight: 400;
  margin: 0;
  padding: 0;

  .select2-highlighted { background: $blue; }
}

// ==========
// Checkbox Styles
// ==========


.checkbox,
.radio {
  margin-bottom: 12px;
  padding-left: 32px;
  position: relative;
  -webkit-transition: color 0.25s linear;
  transition: color 0.25s linear;
  font-size: 14px;
  line-height: 1.5;
}
.checkbox input,
.radio input {
  outline: none !important;
  display: none;
}
.checkbox .icons,
.radio .icons {
  color: #bdc3c7;
  display: block;
  height: 20px;
  left: 0;
  position: absolute;
  top: 0;
  width: 20px;
  text-align: center;
  line-height: 21px;
  font-size: 20px;
  cursor: pointer;
  -webkit-transition: color 0.25s linear;
  transition: color 0.25s linear;
}
.checkbox .icons .first-icon,
.radio .icons .first-icon,
.checkbox .icons .second-icon,
.radio .icons .second-icon {
  display: inline-table;
  position: absolute;
  left: 0;
  top: 0;
  background-color: transparent;
  margin: 0;
  opacity: 1;
  filter: alpha(opacity=100);
}
.checkbox .icons .second-icon,
.radio .icons .second-icon {
  opacity: 0;
  filter: alpha(opacity=0);
}
.checkbox:hover,
.radio:hover {
  -webkit-transition: color 0.25s linear;
  transition: color 0.25s linear;
}
.checkbox:hover .first-icon,
.radio:hover .first-icon {
  opacity: 0;
  filter: alpha(opacity=0);
}
.checkbox:hover .second-icon,
.radio:hover .second-icon {
  opacity: 1;
  filter: alpha(opacity=100);
}
.checkbox.checked,
.radio.checked {
  color: #1abc9c;
}
.checkbox.checked .first-icon,
.radio.checked .first-icon {
  opacity: 0;
  filter: alpha(opacity=0);
}
.checkbox.checked .second-icon,
.radio.checked .second-icon {
  opacity: 1;
  filter: alpha(opacity=100);
  color: #1abc9c;
  -webkit-transition: color 0.25s linear;
  transition: color 0.25s linear;
}
.checkbox.disabled,
.radio.disabled {
  cursor: default;
  color: #e6e8ea;
}
.checkbox.disabled .icons,
.radio.disabled .icons {
  color: #e6e8ea;
}
.checkbox.disabled .first-icon,
.radio.disabled .first-icon {
  opacity: 1;
  filter: alpha(opacity=100);
}
.checkbox.disabled .second-icon,
.radio.disabled .second-icon {
  opacity: 0;
  filter: alpha(opacity=0);
}
.checkbox.disabled.checked .icons,
.radio.disabled.checked .icons {
  color: #e6e8ea;
}
.checkbox.disabled.checked .first-icon,
.radio.disabled.checked .first-icon {
  opacity: 0;
  filter: alpha(opacity=0);
}
.checkbox.disabled.checked .second-icon,
.radio.disabled.checked .second-icon {
  opacity: 1;
  filter: alpha(opacity=100);
  color: #e6e8ea;
}
.checkbox.primary .icons,
.radio.primary .icons {
  color: #34495e;
}
.checkbox.primary.checked,
.radio.primary.checked {
  color: #1abc9c;
}
.checkbox.primary.checked .icons,
.radio.primary.checked .icons {
  color: #1abc9c;
}
.checkbox.primary.disabled,
.radio.primary.disabled {
  cursor: default;
  color: #bdc3c7;
}
.checkbox.primary.disabled .icons,
.radio.primary.disabled .icons {
  color: #bdc3c7;
}
.checkbox.primary.disabled.checked .icons,
.radio.primary.disabled.checked .icons {
  color: #bdc3c7;
}
.radio + .radio,
.checkbox + .checkbox {
  margin-top: 10px;
}


// ======================
// Multi-select (select2)
// ======================

.select2-container-multi {
  .select2-choices .select2-search-choice {
    line-height: 1em;
  }

  .select2-choices .select2-search-field input {
    line-height: 1em;
  }

  .select2-search-choice-close {
    top: 5px; // TODO: Responsive?
  }
}

.select2-results .select2-no-results {
  text-align: center;
  background: white;
  @include adjust-font-size-to(16px)
}

.select2-dropdown-open.select2-drop-above .select2-choices {
  background: white;
}


// ==========
// Wizard Bar
// ==========

$steps: 6;
$step-percent: 100/($steps);

.wizard-steps {
  @include leader(2);
  @include trailer(1);
  /*
  @include span-columns(12 omega);
  */

  ul li {
    @include adjust-font-size-to(14px, 1, 16px);
    font-weight: 600;

    color: $grey;
    display: inline-block;
    width: $step-percent * 1%;
    text-align: center;
    margin-right: -4px;
    -webkit-font-smoothing: antialiased;
    vertical-align: middle;
    position: relative;

    margin-top: -16px;
    padding-top: 24px;

    a {
      color: inherit;
      text-decoration: none;
    }

    .circle {
      height: 20px;
      width: 20px;
      position: absolute;

      background: desaturate( darken($blue, 20), 10);
      border-radius: 50%;

      top: 0;
      left: 50%;
      margin-left: -10px;
    }

    .small-circle {
      height: 10px;
      width: 10px;
      position: absolute;

      background: rgba(0, 0, 0, .15);
      border-radius: 50%;

      top: 5px;
      left: 50%;
      margin-left: -2px
    }

  }
}

.wizard-bar {
  width: 100%;
  height: 12px;   // TODO: Does this have to be responsive?
  border-radius: 3px;
  background-color: lighten($grey, 30%);
  position: relative;

  .fill {
    height: 100%;
    background-color: $blue;
    border-radius: 3px;
  }

  @for $i from 1 through $steps {
    .step#{$i} {
      width: $step-percent * $i * 1%;
      .circle {
        left: ($step-percent * $i) - ($step-percent * 0.5) * 1%;
      }
    }
  }
}

$steps: 4;
$step-percent: 100/($steps);

.new-student-header{
  .wizard-steps{
    ul li {
      width: $step-percent * 1%;
    }
  }

  .wizard-bar{
    @for $i from 1 through $steps {
      .step#{$i} {
        width: $step-percent * $i * 1%;
        .circle {
          left: ($step-percent * $i) - ($step-percent * 0.5) * 1%;
        }
      }
    }
  }
}

article.img-left img, article.img-right img {
  width: 40.84507%;
  height: auto;
  display: inline;
}

article.img-left img {
  float: left;
  margin-right: 8.4507%;
}

article.img-right img {
  float: right;
  margin-left: 8.4507%;
}

article.no-margin{
  margin: 0px;
  padding: 0px;
}

// ===================
// Multi-select styles
// ===================

.select2-container-multi .select2-choices .select2-search-choice {
  @include adjust-font-size-to(14px, 0.75);
  -webkit-font-smoothing: antialiased;
  height: 22px; // TODO: Response?
}


// =============
// Auto complete
// =============

.ui-autocomplete {
  max-width: 600px; //TODO? Hacky.
  border: none;

  li {
    @include adjust-font-size-to(16px, 1.25);
    background: white;
    width: auto;
  }

  a.ui-state-focus {
    background: transparent;
    border: none;
  }

  li:hover, li:focus, li:active {
    background: $blue;
    a { color: white; }
  }
}


// =====================
// Cocooon form wrappers
// =====================

.remove_fields {
  @include adjust-font-size-to(14px, 0.75);
}