
@font-face {
    font-family: 'Flat-UI-Icons';
    src: url(font-path('Flat-UI-Icons.eot') + "?#iefix") format('embedded-opentype'),
         url(font-path('Flat-UI-Icons.woff')) format('woff'), 
         url(font-path('Flat-UI-Icons.ttf'))  format('truetype'),
         url(font-path('Flat-UI-Icons.svg') + "#MyFont") format('svg');
}




@font-face {
    font-family: 'Entypo';
    src: font-url(('entypo.eot') + "?#iefix") format('embedded-opentype'),
         font-url(('entypo.woff')) format('woff'), 
         font-url(('entypo.ttf'))  format('truetype'),
         font-url(('entypo.svg') + "#Entypo") format('svg');
}