// ---------
// Home Page
// ---------

#lightbulbs {
  display: block;
  width: 268px; // TODO: Make responsive.
  margin: auto;
  @include trailer(2);
}

.title-search {
  @include span-columns(12 omega);
  @include trailer(4);
  @extend .clearfix;

  color: white;
  -webkit-font-smoothing: antialiased;

  button {
    width: 100%;
    @include adjust-font-size-to(20px, 1);
    @include leader(1, 20px);
  }

  label {
    @include adjust-leading-to(1);
    text-transform: uppercase;
    font-weight: bold;
    display: block;
  }

  input {
    @include adjust-font-size-to(20px, 2);
    width: 100%;
    display: block;
    border: none;
  }

}

.motto {
  border-top: 8px solid #dcdcdc; // TODO: Make responsive?
  p {
    font-weight: 300;
    margin-bottom: 0;
    @include adjust-font-size-to(25px);
    @include pre(1);
    @include post(1);
  }
}

.we-are-unique {
  .col1 {
    @include span-columns(5);
    @include adjust-font-size-to(20px, 1.5);
  }
  .col2 {
    @include leader(-3);
    @include pre(1);
    @include span-columns(6 omega);
  }
}

.unique {
  color: $light-grey;
  font-weight: bold;
}

#search-projects {
  @include adjust-font-size-to(25px);

  @include leader(1, 25px);
  @include trailer(2, 25px);

  @include span-columns(4 omega);
  @include pre(4);
  @include post(4);
}

#home {
  #search_projects {
    border-bottom: 0.5em solid desaturate( darken($green, 20), 10);
  }

  #home-description {
    height: 900px;
    background: url(location_graph.png) no-repeat top center; /* image */
    @include padding-leader(20);
    h1 { font-weight: bold; }
  }

  article.description-section {
    overflow: hidden;
    @include trailer(4);

    p.sub-title {
      font-weight: 300;
      @include adjust-font-size-to(22px, 1.5);
    }

    span.list-title {
      font-weight: bold;
    }

  }
}