// ---------
// Home Page
// ---------

.title-search {
  @include span-columns(12 omega);
  @include trailer(4);
  @extend .clearfix;

  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  .c5, .c4 {
    @include leader(0.5);
  }

  button {
    width: 100%;
    @include adjust-font-size-to(20px, 1);
    @include leader(1, 20px);
  }


  #search-field-study {
    line-height: 1.2em;
    margin-top: 1.7em;
  }

  label {
    @include adjust-leading-to(1);
    text-transform: uppercase;
    font-weight: bold;
    color: white;
    display: block;
  }

  .select2-container {
    width: 100%;
    display: block;
    border: none;
  }

}

.donate-btn {
  @include adjust-font-size-to(25px);
  text-align: center;
  margin: 2em 25%;
  width: 50%;
}

.motto {
  border-top: 8px solid #dcdcdc; // TODO: Make responsive?
  p {
    font-weight: 300;
    margin-bottom: 0;
    @include adjust-font-size-to(25px);
    @include pre(1);
    @include post(1);
  }
  img {
    display: block;
    width: 268px; // TODO: Make responsive.
    margin: auto;
    @include trailer(2);
  }
}

#fields_and_areas {

  .tab-list .active { color: $blue; }

  .tab-box {

    padding: .5%;
  }

  .tab-box ul {
    padding: 0;
    overflow: hidden;
  }

  .tab-box ul .c4 {
    width: 32%;
  }

  .tab-box ul li {
    position: relative;
    display: inline-block;
    text-transform: uppercase;
    height: 4em;
    line-height: 4em;
    margin: .5%;

    background-color: $extra-light-grey;
    color: $blue;

    span {
      padding: 0 2.5em 0 3.5em;
      width: 100%;
      text-overflow: ellipsis;
      white-space: nowrap;
      display: inline-block;
      overflow: hidden;

      &:before, &:after {
        position: absolute;
        top: 50%;
        margin-top: -16px; // half of height of sprite.
        height: 32px;
        background-image: url(/assets/spritesheet.png);
        content: " ";
      }

      &:before {
        background-position: -30px -0px;
        width: 40px;
        left: 7px;
      }

      &:after {
        background-position: -27px -116px;
        width: 24px;
        right: 7px;
      }
    }
  }
}

@media (max-width: 700px) {

  #fields_and_areas .tab-box ul .c4 {
    width: 100%;
  }
}

.we-are-unique {
  .col1 {
    @include span-columns(5);
    @include adjust-font-size-to(20px, 1.5);
  }
  .col2 {
    @include leader(-3);
    @include pre(1);
    @include span-columns(6 omega);
  }
}

.unique {
  color: $light-grey;
  font-weight: bold;
}

#search-projects {
  @include adjust-font-size-to(25px);

  @include leader(1, 25px);
  @include trailer(2, 25px);

  @include span-columns(4);
  @include pre(4);
  @include post(4);

  text-align: center;
}

@media (max-width: 700px) {

  #search-projects {
    @include span-columns(8);
    @include pre(2);
    @include post(2);
  }
}


#home {
  article.description-section {
    overflow: hidden;
    @include trailer(4);
    span.list-title { font-weight: bold; }
    p { margin-left:50%; }
  }

  p.sub-title {
    font-weight: 300;
    @include adjust-font-size-to(22px, 1.5);
  }

  #search_projects {
    border-bottom: 0.5em solid desaturate( darken($green, 20), 10);
    h2 { text-align: center; }
  }

  #home-description {
    background: url(location_graph.png) no-repeat top center; /* image */
    @include padding-leader(20);
    h1 { font-weight: bold; }
  }

  #stories-from-field {
    border-bottom: 0.5em solid desaturate( darken($blue, 20), 10);
    h2 { @include adjust-leading-to(4, 30px); }
  }

  #stories-from-field .button {
    margin: 2em auto;
    clear:both;
  }


  .field_experience {

    @include nth-omega(4n);

    min-height: 300px;
    margin-top: 1%;

    color: white;
    img { width: 100%;
    height: auto; }
    .title, h1 {
      font-weight: 600;
      @include adjust-font-size-to(22px, 2);
    }

    h1, p {
      margin-bottom: 0;
    }
  }

  h3 { color: $color; }
}

@media (max-width: 700px) {

  #home .field_experience {
    @include nth-omega(2n);
  }
}



article.description-section h2, #pre-footer h3 {
  font-family: $body-font-family;
  font-weight: 300;
  @include adjust-font-size-to(22px, 1.5);
  color: $color;
}

.img-right {

  img {
    float: right;
    margin-right: 0;
    margin-left: 8.4507%;
    width: 40.84507%;
    height: auto;
  }

}

.img-left {
  img {
    float: left;
    margin-right: 8.4507%;
    margin-left: 0;
    width: 40.84507%;
    height: auto;
  }

  h3 {
    font-weight: bold;
    font-size: 1em;
    line-height: 1.5em;
    margin-bottom: 1.5em;
    font-family: $body-font-family;
    color: $color;
    margin-bottom: 0;
  }

  h2, h3, p {
    margin-left: 50%;
  }

}

form[action="/search"] {
  display: inline-block;
  input[type="search"] {
    @include leader(1);
    width: auto;
    font-size: 1em;
  }
  input[type='submit'].button {
    margin: 0;
    @include leader(1);
    width: auto;
    font-size: 1em;
  }
}
