// -------------
// Project Index
// -------------

.total-projects { @include adjust-font-size-to(14px, 1); }

.not-available {
  color: #999;
  text-align: center;
  margin: $baseline * 4;
  @include span-columns(12 omega);
}

.explore-by { padding-right: 0.9em; }
.explore {
  @include span-columns(12 omega);
  @include adjust-leading-to(1, 16px);

  h1, h2, h3, h4, h5, h6 {
    display: inline-block;
    margin-bottom: 0;  /* remove margin. header handles. */
  }

  .new-project { margin-left: 1.5em; }
  .button-group { display: inline; }
  >.options {
    @include adjust-leading-to(1.5, 16px);
    @include span-columns(4);
    @include omega;
  }
}

.filter {
  @include span-columns(12 omega);
  @include adjust-leading-to(1.5, 16px);
  @include padding-leader(1);
  @include padding-trailer(1);
  @include leader(1);
  @include trailer(1);

  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;

  .select2-container { width: 100%; }

  >.session { @include span-columns(4); }
  >.include { @include span-columns(3); }
  >.mode { @include span-columns(2); }
  >.search {
    @include span-columns(3 omega);
    input {
      margin-top: 36px;
      width: 100%;
    }
  }
}


.interests {
  @include leader(1);
  @include trailer(1);
  h5 { @include adjust-leading-to(2, 16px); }
  .select2-container { width: 100%; }
}

.project {
  @include nth-omega(3n);
  @include trailer();
  background: rgb(240, 240, 240);
  border-radius: 2px;
  padding: 1em;


  &:hover {
    color: white;
    text-shadow: 0 1px rgba(0,0,0,0.1);
    background: rgba(32,170,229,0.95);
    @include transition-property(all);
    @include transition-duration(0.1s);

    .date-bar {
      background: rgba(0, 0, 0, 0.15);
      color: white;
      @include transition-property(all);
      @include transition-duration(0.1s);
    }
  }

  .date-bar {
    margin: -1em;
    margin-top: -0.5em;
    padding: 0.5em 1em;
    background: rgb(220, 220, 220);
  }

}

#new-project {
  >h2 { @include span-columns(12 omega) }
}


// ==============
// New Form Style
// =============


form#new_project, form.edit_project, form.new_student_application, form.edit_student_application {

  @include span-columns(12 omega);

  margin-bottom: 5%;

  h3 { @include leader(1, 25px); }
  /* Prevent collapsing margins when defining form blocks */
  article { overflow: auto; }
  .select2-container, input, textarea { width: 100%; }
  input[type="checkbox"], input[type="radio"] { width: auto; }

  textarea {
    font-size: 1em;
    height: 5em;
  }

  label.checkbox { margin-right: 2em; }

  .background { @include leader(1); }

  .field-host-fields  { @include span-columns(6, 8); }
  .field-host-profile { @include span-columns(2 omega, 8); }

  .location-col1 { @include span-columns(3, 8); }
  .location-col2 {
    @include prefix(0.5, 8);
    @include span-columns(5 omega, 8);
  }

  #project_sessions { @include span-columns(12 omega); }
  .student-requirements-illustration { @include span-columns(4, 8); }
  .student-requirements-fields { @include span-columns(4 omega, 8); }

  input[type=text],
  input[type=email],
  input[type=url],
  input[type=search],
  input[type=tel],
  input[type=number] textarea {
    @include adjust-font-size-to(24px);
    padding: .5em;
    background-color: rgba(0,0,0,0.1);
    border: 0em;
  }



  input[type=submit] {
    @include adjust-font-size-to(16px, 1, 14px);
    @include leader(1, 16px);
    @include trailer(1, 16px);
  }

  .project_location_type { margin-top: 0; }

}

fieldset {
  @include leader(2);
  @include trailer(2);
}

.project_per_week_cost_final {
  display: inline;
  input { width: auto !important; }
}

h4.teams-individuals {
  @include adjust-leading-to(1.5, 18px);
}


ul.weekly-cost {
  @include leader(1);
  @include trailer(1);
}

label {
  text-transform: uppercase;
  font-weight: 500;
}




// -----
// Step 1
// ------




.lighttext label {
  color: rgba(0,0,0,.2);
}


.project_field_host_salutation { @include span-columns(1 alpha, 6); }
.project_field_host_first_name { @include span-columns(2, 6); }
.project_field_host_middle_initial { @include span-columns(1, 6); }
.project_field_host_last_name { @include span-columns(2 omega, 6); }

.project_field_host_email {
  @include span-columns(4 omega, 6);
  @include post(2, 6);
}

.project_field_host_preferred_phone {
  @include span-columns(2, 6);
}

.project_field_host_phone_type {
  @include span-columns(2, 6);
  @include post(2, 6);
}

.project_team_mode {
  @extend .block-center;
  margin-bottom: 24px !important; // Responsive?
}

.project_organization {
  @include span-columns(4, 8);
}
#existing-organization p {
  @include leader(1);
  @include span-columns(4 omega, 8);
  padding-left: 1em;
}

.project_field_host_heard_about_ipo, .project_field_host_experience_with_ywam {
  width: 95%;
  line-height: 3em;
}

.ywam_experience_and_connection { @include trailer(2);
}


.project_field_host_role_title { @include span-columns(3, 6);}
.project_field_host_years_associated_with_organization { @include span-columns(2, 6);}
.project_field_host_overall_education {@include span-columns(4 alpha, 6);  @include post(2, 6);}




// ------
// Step 2
// ------

.project_min_students {@include pre(1, 6); @include span-columns(2, 6);}
.project_max_students { @include span-columns(2, 6); @include post(1, 6);}
.project_per_week_cost { @include span-columns(2 alpha, 6);}
project_per_week_cost_final { @include span-columns(2 omega, 6); @include post(3, 6);}


// ------
// Step 3
// ------
.project_location_private {
  @extend .block-center;
  margin-bottom: 24px !important; // Responsive?
}

// ------
// Step 4
// ------
.project_housing_type { @include span-columns(3, 8); }
.project_dining_location {
  @include span-columns(3 omega, 8);
  @include post(2, 8);
}

// ------
// Step 5
// ------

#drop_zone {
  height: 9em;
  color: rgb(85, 85, 85);
  font-weight: 600;
  text-align: center;
  border: 5px dashed;
  position: relative;

  padding-top: 4em;
  @include trailer(1);
}

.project_media {
  .media {
    @include span-columns(2, 6);
    @include trailer(1);
    position: relative;

    img { width: 100%; }
    &:nth-child(3n) { @include omega; }

    form {
      position: absolute;
      top: 0;
      right: 0;
    }

  }
}

.upload {
  width: 100%;
  background: white;
  padding: 1em;
  position: absolute;
  top: 0;
  height: 100%;
  padding-top: 3em;

  .progress {
    margin-top: 8px;
    border: solid 1px #555;
    border-radius: 3px;
    -moz-border-radius: 3px;
  }

  .bar {
    height: 10px;
    background: $blue;
  }
}

input[type='submit'].delete-project-media {
  padding: 0 1em;
  height: 36px;
  font-size: 15px;
}

.add-images {
  @include span-columns(5);
  @include post(1);
}
.saved-images {
  @include span-columns(6 omega);
}

#photos_and_videos h3 { @include leader(1, 25px); }


// TODO: Probably should be global styles for UL and LI elements.
ul.weekly-cost { list-style-type: square; }
ul.weekly-cost li {
  @include adjust-font-size-to(13px);
  margin-left: 2em;
}

.student-requirements-fields span.small { display: block; }
.field_for_deadline {
  @include adjust-font-size-to(16px, 1.5);
  padding-right: 0.5em;
}
