@import "reset";
@import "base";
@import "compass/css3";
@import "compass/typography/vertical_rhythm";

// TODO: Eventually remove all dependencies on flat-ui.
@import "mixins";
@import "tables";
@import "button-dropdowns";
@import "button-groups";
// ====================================================
@import "select2";

@import "typography";
@import "components";

@import "home";
@import "projects";

.clearfix {
    zoom:1;
    &:before, &:after {
        content: "\0020";
        display: block;
        height: 0;
        overflow: hidden;
    }
    &:after {
        clear: both;
    }
}

/* ================
   Semantic Columns
   ================ */

.omega { @include omega; }
.c1    { @include span-columns(1); }
.c2    { @include span-columns(2); }
.c3    { @include span-columns(3); }
.c4    { @include span-columns(4); }
.c5    { @include span-columns(5); }
.c6    { @include span-columns(6); }
.c7    { @include span-columns(7); }
.c8    { @include span-columns(8); }
.c9    { @include span-columns(9); }
.c10   { @include span-columns(10); }
.c11   { @include span-columns(11); }
.c12   { @include span-columns(12); }

/* ===========
   Main Styles
   =========== */
.clr { clear: both; }
.centered, .center{ text-align: center; }
.block-center { display: block; text-align: center; }

.italic, .i { font-style: italic; }
.or {
  font-size: 0.75em; // TODO: Use compass for defining size.
  padding: 0 0.5em;
}

body {
  background: #f4f3f3;
  color: $color;
}

.container {
  @include container;
  // Enable if you want to see grid layout. Useful for development.
  // @include susy-grid-background;
}

.header-bg, .header-bg-large {
  background: url(header-bg.png) no-repeat;
  margin-top: -25px;
  height: 192px;
  width: 100%;
  position: absolute;
  z-index: -1;
}
.header-bg-large {
  background: url(header-bg-large.jpg) no-repeat;
  height: 386px;
}

header {
  @include adjust-leading-to(6);
  @include omega;
  @include span-columns(12 omega);
  @include trailer(3);

  color: white;
  -webkit-font-smoothing: antialiased;

  h1, h2, h3, h4, h5, h6 {
    line-height: inherit;
    color: white;
    margin-bottom: 0; /* remove margin. header handles. */
  }

  h1.title {
    @include span-columns(7);
    font-weight: thin;
  }
}

nav {
  @include span-columns(5 omega);

  .link {
    @include adjust-font-size-to(20px);
    font-family: $header-font-family;
    line-height: inherit;
    text-align: center;
    padding: 0;
    padding-right: 2em;
    &:last-child { padding-right: 0;}
    // font-weight: 300;
  }

}

/* ===========
   Form Styles
   =========== */

form {
  label {
    display: block;
    @include adjust-font-size-to(14px);
    @include trailer(0.5);
  }
  div.input {  @include trailer(); }

  .invalid {
    position: static;
    display: inherit;
  }

  span.error {
    padding-left: 0.5em;
    font-size: 0.75em;
    font-style: italic;
    color: #e46b66;
  }
}