@import "reset";
@import "base";

@import "compass/css3";
@import "compass/css3/font-face";
@import "compass/typography/vertical_rhythm";

// =====================
// Flat-ui dependencies.
// TODO: Eventually remove all dependencies on flat-ui
@import "mixins";
@import "tables";
@import "button-dropdowns";
// @import "button-groups";
// ====================================================

// =========================
// Vendor/plugin stylesheets
// =========================
@import "select2";
@import "font-awesome";


@import "fonts";
@import "typography";
@import "components";
@import "home";
@import "projects";
@import "students";
@import "donations";



.fa:before {
  margin-right: 5px;
}

.clearfix {
  zoom:1;
  &:before, &:after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden;
  }
  &:after { clear: both; }
}

/* ================
   Semantic Columns
   ================ */

.omega { @include omega; }
.c1    { @include span-columns(1); }
.c2    { @include span-columns(2); }
.c3    { @include span-columns(3); }
.c4    { @include span-columns(4); }
.c5    { @include span-columns(5); }
.c6    { @include span-columns(6); }
.c7    { @include span-columns(7); }
.c8    { @include span-columns(8); }
.c9    { @include span-columns(9); }
.c10   { @include span-columns(10); }
.c11   { @include span-columns(11); }
.c12   { @include span-columns(12); }

.c1, .c2, .c3, .c4, .c5, .c6, .c7,
.c8, .c9, .c10, .c11, .c12 {
  &.omega { @include omega; }
}

.pre1 { @include pre(1); }
.post1 { @include post(1); }
.post4 { @include post(4); }
.post5 { @include post(4); }
.post8 { @include post(8); }

/* ===========
   Browser Behavior for Auto-Fill on Forms
   =========== */


// Make auto-fill white, removing webkit yellow ;)

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}


/* ===========
   Main Styles
   =========== */

p.alert {
  @include adjust-font-size-to(13px);

  background-color: $orange;
  font-weight: 600;
  padding: 1em;
  color: white;
}


.clr { clear: both; }
.centered, .center{ text-align: center; }
.button-center { margin-left: auto; margin-right: auto; display: block; text-align: center; }
.block-center { display: block; text-align: center; }
.italic, .i { font-style: italic; }
.or {
  font-size: 0.75em; // TODO: Use compass for defining size.
  padding: 0 0.5em;
}
.light { font-weight: 300; }
.medium { font-weight: 400; }
.hide { display: none; }
.right { float: right; }

span.small { @include adjust-font-size-to(14px); }

.offscreen {
  @extend .select2-offscreen;
}

body {
  background: $extra-light-grey;
  color: $color;
}

.container {
  @include container;
  // Enable if you want to see grid layout. Useful for development.
  //@include susy-grid-background;
}

.header-bg, .header-bg-large {
 // background: url(header-bg.png) no-repeat;

  border-bottom: 3px solid $extra-light-grey;
}

.header-bg-large {
  background: url(header-bg-large.jpg) no-repeat;
  height: 730px;
}



header {
  @include adjust-leading-to(4);
  background-color: #fff;
  border-bottom:1px solid $grey;

  margin-bottom: 3em;

  color: white;
  -webkit-font-smoothing: antialiased;
  overflow: auto;

  h1, h2, h3, h4, h5, h6 {
    line-height: inherit;
    color: white;
    margin-bottom: 0; /* remove margin. header handles. */
  }

  h1.title {
    color: #4b4b4b;
    @include span-columns(5);
    font-weight: bold;
  }

// main converge logo

  a#logo {
      @include span-columns(3 alpha);
      display:block;
     img {
        max-width: 250px;
        // margin-top: 1.5em;
        vertical-align: middle;
      }
  }

  input#search {
    background-color: #fff;
    border: 1px solid $light-grey;
    @include border-radius (5px);
    color: $light-grey;
  }

  input#submit {
    display:none;
  }


}

.side-nav input#search {
  background-color: #fff;
  border: 1px solid $light-grey;
  @include border-radius (5px);
  color: $light-grey;
  margin-left: 2em;
  width: 80%;
}

h1.subtitle {
  -webkit-font-smoothing: antialiased;
  color: white;
  text-shadow: 1px 1px rgba(0, 0, 0, .10);
  font-weight: 300;
  @include adjust-font-size-to(44px, 4);
  @include trailer(3, 44px);
}

nav.main {
  color: #4b4b4b;
  @include span-columns(9 omega);
  text-align: right;


  .link {
    @include adjust-font-size-to(18px);
    font-family: $header-font-family;
    line-height: inherit;
    text-align: center;
    padding: 0;
    // padding-right: 4em;

    font-weight: bold;
    &:last-child { padding-right: 0;}
    // font-weight: 300;
  }

  .link a {
    color: inherit;
    text-decoration: none;
    display: inline-block;
    padding: 0em 2em;
  }

}


.secondary-header {
    background-color: $extra-light-grey;
    padding: .7em 0em .7em 0em;
    width: 100%;

    nav { text-align: right;

      li {
        padding: 0em .5em 0em .5em;
        list-style: none;
        display: inline;
        margin-left: 1em;

        a {
          text-decoration: none;
          @include adjust-font-size-to(15px);
          color: $grey;
        }

        a:hover {
          text-decoration: underline;
          color: $orange;
        }
      }

    li:last-child {
      padding-right: 0em;
    }
  }
}


.hero {
  padding-top: 10%;
  margin-top: -3em;
}


nav.sub-menu {
  @include adjust-font-size-to(14px, 1.5);
  box-shadow: inset -1px -2px 10px rgba(0, 0, 0, .15);
  border-bottom: 4px solid #696969;
  background: #8D8A8A;
  font-weight: 600;
  -webkit-font-smoothing: antialiased;
  text-transform: uppercase;
  
  a { color: white; text-decoration: none; }
}


#reach-out {
  padding-left: 64px;
  @include adjust-font-size-to(20px, 1.5);
  div { @include trailer(0.5, 20px); }
  form {
    input { margin-left: 11px; }
    input[name="first_name"] { width: 162px; }
    input[name="last_name"] { width: 162px}
    input[name="email"] { width: 396px; }
    .select2-container {
      @include adjust-font-size-to(16px, 1, 20px);
      margin: 0;
    }
  }
}

footer li {
  @include adjust-font-size-to(14px, 1);
}

.footer-col {
  @include span-columns(2, 6);
  @include nth-omega(3n);
}

footer {
  margin-top: 2.5em;
}

ul {
  padding: .5em 0em .5em 0em;
}

li {
  @include adjust-leading-to(1, 16px);
  list-style-type: disc;
  margin-left: 2em;

  }

article {
  padding-top: 1.5em;
  padding-bottom: 1.5em;
}

.inset-shadow {
  @include box-shadow (inset 0px 1px 2px $dark-grey);
}


/* ===========
   Form Styles
   =========== */

form {

  input[type=text],
  input[type=email],
  input[type=password],
  input[type=url],
  input[type=search],
  input[type=tel],
  input[type=number], textarea {
    @include adjust-font-size-to(24px);
    width: 100%;
    padding: .5em;
    background-color: rgba(0,0,0,0.1);
    border: 0em;
  }


  input[type='submit'], input[type='submit'].button {
    @include adjust-font-size-to(16px, 1, 14px);
    @include leader(1, 16px);
    @include trailer(1, 16px);
    width: 100%;
  }

  .c5 input, .c4 input {
    background-color: $extra-light-grey;
  }

  input#search {
    font-family: 'Entypo', sans-serif;
    font-size: 1em;
  }

  label {
    display: block;
    @include adjust-font-size-to(14px);
    @include trailer(0.5);
  }

  label.checkbox { display: inline; }

  div.input {  @include trailer(); }

  .invalid { display: inherit; }

  span.error {
    padding-left: 0.5em;
    font-size: 0.75em;
    font-style: italic;
    color: #e46b66;

    margin-top: -17px;
    display: block;
    padding-bottom: 5px;
  }

  .radio_buttons span.error { margin-top: 0px; }
}

fieldset {
  @include leader(2);
  @include trailer(2);
}

fieldset:last-child {
  margin-bottom: 0;
}



#donate_form {
  width: 80%;
  min-width: 600px;
}
.security-container {
  position: relative;
}

.security {
  position: absolute;
  font-size: 12px;
  padding: 1.5em;
  margin-top: 2.5em;
  border: 2px solid #ccc;
}


/* overflow-x chrome fix */
.select2-offscreen{
  display: none!important;
}


.results{
    .result{
      background-color: lightcyan;
      border-radius: 6px;
      padding: 6px;
      margin: 6px;

    }
    .body{
      font-size: 12px;
    }
  a{
    color: steelblue;
    font-weight: bold;
    margin-bottom: 5px;
    display: inline-block;
  }
  em{
    font-style: italic;
    font-weight: bolder;
  }

  h1{
    font-size: 18px;
  }
  h2{
    font-size: 16px;
  }
  img{
    display: none;
  }
}

.side-nav {
  display:none;
}

//responsive header side bar//

@include respond-to(800){

  .side-nav {
    position: fixed;
    top: 0;
    right: -40%;
    padding-top: 1em;
    height: 100%;
    width: 40%;
    @include transition-duration(0.7s);
    display: block;
    margin-top:4em;
    z-index:5;
    background-color: $grey;

    li {
      list-style: none;
       margin: 0;

      a {
        color: white;
        text-decoration: none;
        display:block;
        cursor: pointer;
        padding: .5em 2em;
      }

      a:hover {background-color: rgba(255,255,255,.1)}
    }
  }

  form[action="/search"] input.button[type="submit"] {
    margin: 1.5em 0px 0px 2em;
  }

  header {
    position: fixed;
    width: 100%;
    z-index: 6;
  }

  .link.heading, nav.main form, .secondary-header{
    display:none;
  }

  .menu-in { @include transform( translateX(-100%) ); }

  .shift { @include transform( translateX(-40%) ); }

  .side { @include transition-duration( 0.7s ); } 

  .show{
    display:block;
  }

  .side-nav ul {
    height:100%;
  }

  .side-nav li {
    width:100%;
  }
  
  header {
    line-height: 4em;
  }

  nav.main {
    position: absolute;
    right: 30px;
    top: 25px;
    display: block;
    width: 22px;
    height: 19px;
    cursor:pointer;
  }

  nav.main:before, nav.main:after {
    display: block;
    content: ' ';
    position: absolute;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: grey;
    @include transform-origin (0px, 1.5px);
    @include transition( all (0.5s) );
  }

  nav.main:before { top: 0; }

  nav.main:after { top: 16px; }

  nav.main span {
    display: block;
    width: 100%;
    height: 3px;
    background-color: grey;
    margin: 8px 0;
    @include transition( all (0.5s) );
  }

  nav.main.mobile:before { @include transform( rotate(45deg) ); }

  nav.main.mobile:after { @include transform( rotate(-45deg) ); }

  nav.main.mobile span {
    opacity:0;
  }

}
