@import "reset";
@import "compass/css3";
@import "compass/css3/font-face";
@import "compass/typography/vertical_rhythm";
@import "base";
@import "fonts";

// TODO: Eventually remove all dependencies on flat-ui

@import "mixins";
@import "tables";
@import "button-dropdowns";

// @import "button-groups";

// ====================================================

@import "select2";

@import "typography";
@import "components";

@import "home";
@import "projects";
@import "students";

@import "font-awesome";

.fa:before {
  margin-right: 5px;
}

.clearfix {
  zoom:1;
  &:before, &:after {
      content: "\0020";
      display: block;
      height: 0;
      overflow: hidden;
  }
  &:after { clear: both; }
}

/* ================
   Semantic Columns
   ================ */

.omega { @include omega; }
.c1    { @include span-columns(1); }
.c2    { @include span-columns(2); }
.c3    { @include span-columns(3); }
.c4    { @include span-columns(4); }
.c5    { @include span-columns(5); }
.c6    { @include span-columns(6); }
.c7    { @include span-columns(7); }
.c8    { @include span-columns(8); }
.c9    { @include span-columns(9); }
.c10   { @include span-columns(10); }
.c11   { @include span-columns(11); }
.c12   { @include span-columns(12); }

.c1, .c2, .c3, .c4, .c5, .c6, .c7,
.c8, .c9, .c10, .c11, .c12 {
  &.omega { @include omega; }
}

.pre1 { @include pre(1); }
.post1 { @include post(1); }


/* ===========
   Checkbox Styles
   =========== */

$optionInputSize: 18px; // Keep even
$optionInputMarkColor: #ff9855;
$focusColor: #ff9855;

.fui-arrow-right, .fui-arrow-left, .fui-cmd, .fui-check-inverted, .fui-heart, .fui-location, .fui-plus, .fui-check, .fui-cross, .fui-list, .fui-new, .fui-video, .fui-photo, .fui-volume, .fui-time, .fui-eye, .fui-chat, .fui-search, .fui-user, .fui-mail, .fui-lock, .fui-gear, .fui-radio-unchecked, .fui-radio-checked, .fui-checkbox-unchecked, .fui-checkbox-checked, .fui-calendar-solid, .fui-pause, .fui-play, .fui-check-inverted-2 {
display: inline-block;
font-family: 'Flat-UI-Icons';
speak: none;
font-style: normal;
font-weight: normal;
font-variant: normal;
text-transform: none;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
}

.checkbox {
  @extend %option-box;

  &:before {
    $width: round(($optionInputSize - 4px) / 2); // 50% of input inner width
    $height: round($width * .4);
    position: absolute;
    top: floor(($optionInputSize - $height * 2 - 2px) / 2);
    left: floor(($optionInputSize - $width - 2px) / 2);
    width: $width;
    height: $height;
    border: solid $optionInputMarkColor;
    border-width: 0 0 3px 3px;
    @include transform(rotate(-45deg));

    input:focus + &,
    input.focus + & {
      border-color: darken($focusColor, 8%);
    }
  }
}

.fui-checkbox-checked:before {
content: "\e034";
}

.fui-checkbox-unchecked:before {
content: "\e033";
}

.lt-ie9 {
  .option > input {
    position: static;
    padding: 0;
  }

  .checkbox,
  .radio {
    display: none;
  }
}

/* ===========
   Main Styles
   =========== */

   

.clr { clear: both; }
.centered, .center{ text-align: center; }
.block-center { display: block; text-align: center; }
.italic, .i { font-style: italic; }
.or {
  font-size: 0.75em; // TODO: Use compass for defining size.
  padding: 0 0.5em;
}
.light { font-weight: 300; }
.medium { font-weight: 400; }
.hide { display: none; }
.right { float: right; }

span.small { @include adjust-font-size-to(14px); }

.offscreen {
  @extend .select2-offscreen;
}

body {
  background: $extra-light-grey;
  color: $color;
}

.container {
  @include container;
  // Enable if you want to see grid layout. Useful for development.
  // @include susy-grid-background;
}

.header-bg, .header-bg-large {
  background: url(header-bg.png) no-repeat;
  margin-top: -25px;
  height: 152px;
  width: 100%;
  position: absolute;
  z-index: -1;
}
.header-bg-large {
  background: url(header-bg-large.jpg) no-repeat;
  height: 730px;
}

.main-header { min-height: 700px; }

header {
  @include adjust-leading-to(5);
  @include trailer(3);

  color: white;
  -webkit-font-smoothing: antialiased;
  overflow: auto;

  h1, h2, h3, h4, h5, h6 {
    line-height: inherit;
    color: white;
    margin-bottom: 0; /* remove margin. header handles. */
  }

  h1.title {
    color: #4b4b4b;
    @include span-columns(5);
    font-weight: bold;
  }
}

h1.subtitle {
  -webkit-font-smoothing: antialiased;
  color: white;
  text-shadow: 1px 1px rgba(0, 0, 0, .10);
  font-weight: 300;
  @include adjust-font-size-to(44px, 4);
  @include trailer(3, 44px);

}

nav.main {
  color: #4b4b4b;
  @include span-columns(7 omega);

  .link {
    @include adjust-font-size-to(20px);
    font-family: $header-font-family;
    line-height: inherit;
    text-align: center;
    padding: 0;
    padding-right: 4em;
    &:last-child { padding-right: 0;}
    // font-weight: 300;
  }

  .link a {
    color: inherit;
    text-decoration: none;
  }
}


nav.sub-menu {
  @include adjust-font-size-to(14px, 1.5);
  box-shadow: inset -1px -2px 10px rgba(0, 0, 0, .15);
  border-bottom: 4px solid #696969;
  background: #8D8A8A;
  font-weight: 600;
  -webkit-font-smoothing: antialiased;
  text-transform: uppercase;
  margin-top: -66px; // TODO: Responsive? Also rather hacky..

  a { color: white; text-decoration: none; }
}

#reach-out {
  padding-left: 64px;
  @include adjust-font-size-to(20px, 1.5);
  div { @include trailer(0.5, 20px); }
  input { margin-left: 11px; }
  input[name="full_name"] { width: 324px; }
  input[name="email"] { width: 396px; }
  .select2-container {
    @include adjust-font-size-to(16px, 1, 20px);
    margin: 0;
  }
}

footer li {
  @include adjust-font-size-to(14px, 1);
}

.footer-col {
  @include span-columns(2, 6);
  @include nth-omega(3n);
}

footer {
  margin-top: 2.5em;
}

li { @include adjust-leading-to(1, 16px); }

article {
  padding-top: 1.5em;
  padding-bottom: 1.5em;
}

.inset-shadow {
  @include box-shadow (inset 0px 1px 2px $dark-grey);
}


/* ===========
   Form Styles
   =========== */

form {
  label {
    display: block;
    @include adjust-font-size-to(14px);
    @include trailer(0.5);
  }

  label.checkbox { display: inline; }

  div.input {  @include trailer(); }

  .invalid {
    position: static;
    display: inherit;
  }

  span.error {
    padding-left: 0.5em;
    font-size: 0.75em;
    font-style: italic;
    color: #e46b66;
  }
}

/* overflow-x chrome fix */
.select2-offscreen{
  display: none!important;
}


.results{
    .result{
      background-color: lightcyan;
      border-radius: 6px;
      padding: 6px;
      margin: 6px;
      
    }
    .body{
      font-size: 12px;
    }
  a{
    color: steelblue;
    font-weight: bold;
    margin-bottom: 5px;
    display: inline-block;
  }
  em{
    font-style: italic;
    font-weigth: bolder;
  }
  
  h1{
    font-size: 18px;
  }
  h2{
    font-size: 16px;
  }
  img{
    display: none;
  }
}