form#new_student_application, form.edit_student_application, form.new_student_application {

  .student_application_student_first_name { @include span-columns(6, 12); }
  .student_application_student_last_name { @include span-columns(6 omega, 12); }
  .student_application_student_login_email { @include span-columns(4, 12); }
  .student_application_student_login_password { @include span-columns(4, 12); }

  .student_application_student_login_password_confirmation {
    @include pre(4);
    @include span-columns(4, 12);
  }

  .register-description {
    @include span-columns(3 omega, 12);
    @include adjust-font-size-to(12px);
  }

  .student_application_student_birthday {
    @include span-columns(6, 12);
    .select2-container { width: 32% !important; }
  }

  .student_application_student_gender {
    @include span-columns(4, 12);
    label.radio {
      width: 40%;
      display: inline-block;
    }
  }
  .student_application_student_marital_status { @include span-columns(2 omega, 12); }
  .student_application_student_street_address { @include span-columns(12 omega, 12); }
  .student_application_student_city { @include span-columns(6, 12); }
  .student_application_student_state { @include span-columns (6 omega, 12); }
  .student_application_student_postal_code { @include span-columns(6, 12); }
  .student_application_student_country { @include span-columns(6 omega, 12); }
  .student_application_student_preferred_phone { @include span-columns(6, 12); }
  .student_application_student_phone_type { @include span-columns(6 omega, 12); }
  .student_application_student_organization { @include span-columns(12 omega, 12); }
  .student_application_student_experiences { @include span-columns(6, 12); }

  .experiences-description {
    @include span-columns(6 omega, 12);
    @include adjust-font-size-to(12px);
    i { @include adjust-font-size-to(20px); }
  }

  .student_application_student_heard_about_ipo {
    width: 95%;
    line-height: 3em;
  }

  .reference p { @include adjust-font-size-to(14px); }

  .student_application_student_overall_education { @include span-columns(6, 12); }
  .student_application_student_graduation_year { @include span-columns(6 omega, 12); }
  .student_application_student_spoken_languages { @include span-columns(6, 12); }
  .student_application_student_fields_of_study { @include span-columns(6 omega, 12); }

  .student_application_student_person_references_contact_first_name { @include span-columns(3, 12); }
  .student_application_student_person_references_contact_last_name { @include span-columns(3, 12); }
  .student_application_student_person_references_contact_email { @include span-columns(3, 12); }
  .student_application_student_person_references_contact_phone { @include span-columns(3 omega, 12); }
}

.info-box {
  border: 1px solid darkgrey;
  padding: 20px;
  margin-bottom: 40px;
}

.confirmation {
  h2 {
    padding: 20px;
  }
  margin-bottom: 40px;
}

.info-box, .confirmation {
  h8 {
    @include adjust-font-size-to(14px);
  }
  p {
    @include adjust-font-size-to(24px);
    margin-bottom: 0px;
  }
  .first-column {
    @include span-columns(6, 12);
  }
  .second-column {
    @include span-columns(6 omega, 12);
  }
}

.important-details {
  p, label {
    @include adjust-font-size-to(14px);
  }
  .terms-and-conditions {
    height: 200px;
    overflow-y: scroll;
  }
  margin-bottom: 80px;
}

.what_expect {
  ul {
    list-style-type: circle;
    padding-left: 60px;
    margin-bottom: 20px;
  }
  li, strong {
    @include adjust-font-size-to(14px);
  }
  strong {
    padding-left: 20px;
  }
  margin-bottom: 80px;
}

.hr {
  border: 0;
  height: 2px;
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
  background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
  background-image: -ms-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
  background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.spacer {
  margin-bottom: 20px;
}

strong {
  font-weight: bold;
}
