<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= t(:donation_mail_thanks) %></h1>
    <p>
      <%= t(:donation_mail_body)%> <%= link_to "link", donation_url(@subscription.id) %> <br>
    </p>
  </body>
</html>
