.button-group
  = button_link_to t(:project_dashboard), dashboards_fieldhost_path(view: 'dashboard'), :grey, id: 'dashboard_button', class: view_active?('dashboard'), remote: true
  = button_link_to t(:account_settings), dashboards_fieldhost_path(view: 'settings'), :grey, id: 'account_button', class: view_active?('settings'), remote: true