<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= @subject %></h1>
    <p> There was an error while executing Salesforce synchronization of object_id: <%= @object_id %></p>
    <p>
      <%= @error %>
    </p>
  </body>
</html>